.box1{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 50px;
   border: 3px solid black;
   padding: 5px;
   background-color: rgb(16, 241, 170);
}
.box2{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 30px;
   border: 3px solid blue;
   background-color: rgb(16, 218, 218);
   margin-bottom: 5px;
}
.text{
   font-size: 15px;
   letter-spacing: 1;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: bolder;
}
.box{
     border: 3px solid black;
      display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.box3{
   background-color: blanchedalmond;
   /* padding: 100px; */
   border: 3px solid green;
   /* margin-top: 10px; */
}