body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color:blue;
}
.box{
  width: 50px;
  height: 50px;
  background-color: brown;
}
.box:hover{
    background-color: aqua;
    cursor: pointer;
}