body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card1{
    height: 300px;
    width: 300px;
    border: 2px solid blue;
    border-radius: 15px;
    
}
.image{
    height:150px;
}
.info{
    font-size: small;
    color: blue;
    display: flex;
    flex-direction: column;
}